body {
  margin: 0%;
  padding: 0%;
}

.pole__main {
  width: 500px;
  height: 500px;
  position: relative;
  z-index: 40;
}

.red {
  position: absolute;
  background-color: red;
  width: calc(500px - 70%);
  height: 100%;
  z-index: 4;
}

.blue {
  position: absolute;
  left: 30%;
  background-color: blue;
  width: calc(500px - 30%);
  height: 100%;
  z-index: 3;
}

.button {
  position: absolute;
  background-color: black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  z-index: 6;
}
